body {
    background-image: url("http://wallpaperhd.online/upload/images/1521086292085/css-fade-background-css-fade-image-css-fade-in-red-fire-600x350.jpg");
    background-size: cover;
    background-position: center top;
    font-family: 'Noto Serif', serif;
}

.border1 {
    border-radius: 10px;
}
h1 {
    font-size: 75px;
    text-align: center
}
.ComicSansMS {
    font-family: Comic Sans MS;
}
.display {
    display: inline-block;
    text-align: center;
}