body {
    background-image: url("http://wallpaperhd.online/upload/images/1521086292085/css-fade-background-css-fade-image-css-fade-in-red-fire-600x350.jpg");
    background-size: cover;
    background-position: center top;
}

.border1 {
    border-radius: 10px;
}
h1 {
    font-size: 75px;
    text-align: center
}

#button1 {
    margin-left: 100px;
}

#button2 {
    margin-left: 100px;
}

#button3 {
    margin-left: 100px;
}

.arial {
    font-family: arial;
}