.display-4 {
    font-family: Comic Sans MS;
}

.font {
    font-family: Comfortaa;
}

.lead {
    font-family: lead;
}

.next {
    display: inline-block;
}

.padding {
    padding-top: 50px;
    padding-left: 200px;
}

.jumbotron {
    height: 320px;
    background-color: lightblue;
}

.card {
    margin-right: 200px;
}