.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.fantasy {
    font-family: fantasy;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}